[Unit]
Description=Tesla eGauge Charger service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/tesla_egauge_charger
ExecStart=/home/pi/tesla_egauge_charger/.venv/bin/python3 /home/pi/tesla_egauge_charger/main.py
SyslogIdentifier=tesla_egauge_charger
Type=idle
Restart=on-failure

[Install]
WantedBy=multi-user.target
